{% extends '_base.html' %}

{% block content %}
<div class="bg-light">
<div class="container">
    <h3 class="fw-light pt-5 mb-5 text-dark">Eye on the Law</h3>
    <h1 class="work-title mb-5">{{article.title}}</h1>
    <h4 class="fw-light text-muted">{{article.date}}</h4>
    <h4 class="fw-light text-muted">By {{article.author}}</h4>
    <div class="row">
        <div class="col-8">
            {{ article.text | safe}}
        </div>
        <div class="col p-5">
            {% include 'contact_us.html' %}
        </div>
    </div>
    

</div>
</div>

<br>
<br>
<br>
<br>
<br>

{% endblock %}

