{% extends '_base.html' %}

{% block content %}

<div class="container">
    <h3 class="fw-light pt-5 mb-5 text-dark">Work</h3>
    <h1 class="work-title mb-5">Employment Law</h1>

    <p class="cormorant p-text">
        We recognize that it is often difficult for employers to be assured that they are in compliance with the
        frequently changing, and sometimes conflicting laws and regulations that govern the workplace. It is also often
        difficult for employers to decide, on their own and without sufficient knowledge of these laws, what steps to
        take when a lawsuit is filed against them.
    </p>

    <p class="cormorant p-text">
        Ryan & Ryan, LLC has extensive knowledge of state and federal workplace laws. While our approach to workplace
        disputes is centered on reducing the likelihood of lawsuits and other agency proceedings, should legal action be
        instituted against an employer, we provide the most effective and cost-efficient representation possible. Our
        attorneys have extensive experience representing clients in court and administrative actions under state and
        federal statutes such as:
    </p>

    <ul>
        <li>Title VII of the Civil Rights Act of 1964, including Pregnancy discrimination</li>

        <li>Civil Rights Act of 1991</li>

        <li>Connecticut Fair Employment Practices Act</li>

        <li>Family and Medical Leave Act (“FMLA”)</li>

        <li>Fair Labor Standards Act (“FLSA”)</li>

        <li>Americans with Disabilities Act (“ADA”)</li>

        <li>Occupational Safety and Health Act (“OSHA”)</li>

        <li>Age Discrimination in Employment Act (“ADEA”)</li>

        <li>Older Workers Benefit Protection Act (“OWBPA”)</li>

        <li>Consolidated Omnibus Budget</li>

        <li>Reconciliation Act (“COBRA”)</li>

        <li>National Labor Relations Act (“NLRA”)</li>

        <li>Equal Pay Act of 1964 (“EPA”)</li>

        <li>Rehabilitation Act of 1973</li>

        <li>Uniformed Services Employment and Re-employment Rights Act (“USERRA”)</li>

        <li>Davis Bacon Act</li>

        <li>Sarbanes-Oxley Act of 2002</li>

        <li>Immigration and Nationality Act</li>

        <li>Illegal Immigration Reform and Immigrant Responsibility Act of 1996</li>

        <li>Employee Retirement Income Security Act (“ERISA”)</li>

        <li>Workers Adjustment and Retraining Notification Act (“WARN”)</li>
    </ul>

    <p class="cormorant p-text">
        In addition, we frequently assist employers who are subjected to lawsuits premised upon:
    </p>

    <ul>
        <li>Sexual, racial, and other types of workplace harassment</li>

        <li>Negligent hiring or retention of employees</li>

        <li>Intentional or negligent infliction of emotional distress</li>

        <li>Covenants not to compete/trade secrets</li>

        <li>Wrongful discharge</li>

        <li>Defamation</li>

        <li>Retaliation and whistle-blowing</li>

        <li>Breach of contract claims</li>

        <li>Other workplace tort claims</li>
    </ul>
</div>

{% endblock %}