{% extends '_base.html' %}

{% block content %}
<div class="container">
    <h3 class="fw-light pt-5 mb-5 text-dark">Work</h3>
    <h1 class="work-title mb-5">Labor Law</h1>

    <p class="cormorant p-text">
        Our attorneys have extensive experience representing employers who have unionized workplaces. We are focused on
        assisting employers to achieve their goals in negotiating favorable terms of collective bargaining agreements
        and resolving disputed issues.

        Over the years of representing employers, we have come to know our union adversaries and have gained their
        respect. Our established reputation in the labor field serves to benefit our clients.
    </p>

    <div class="accordion accordion-flush" id="labor_law_accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h4 class="cormorant">What We Do </h3>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#labor_law_accordion">
                <div class="accordion-body fw-light">
                    <ul class="fw-light">
                        <li>Supervisory training on union avoidance</li>

                        <li>Training supervisors in effective and legal methods to counter union organizing</li>

                        <li>Representation in administrative and court proceedings relating to union organizing</li>

                        <li>Negotiation of collective bargaining agreements</li>

                        <li>Advising employers on successful strategies for handling grievance and arbitration matters,
                            unfair labor practice complaints, strike preparation, sales, mergers and plant closings</li>

                        <li>Representation before the American Arbitration Association, the Connecticut State Board of
                            Mediation and Arbitration and other administrative agencies throughout the United States
                        </li>

                        <li>Labor-related litigation</li>

                        <li>Union decertification petitions</li>

                        <li>General counseling on all labor matters</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}