{% extends '_base.html' %}

{% block content %}
<div class="container">
    <h3 class="fw-light pt-5 mb-5 text-dark">Work</h3>
    <h1 class="work-title mb-5">Litigation</h1>

    <p class="cormorant p-text">
        If litigation occurs, Ryan & Ryan first seeks to understand a particular client’s goals, and then creates a
        litigation strategy to fit those goals. Before developing a strategy for a particular case, we first and
        foremost listen to our clients. Once an initial strategy is developed the Firm continually updates the client
        and if necessary, works with the client to modify strategy. We offer significant experience in state and federal
        courts in Connecticut and New York to defend against wrongful termination, discriminatory discharge claims, and
        a variety of state law claims. The Firm also represents employers before all governmental agencies, including
        the National Labor Relations Board, State Board of Labor Relations, the Equal Employment Opportunity Commission,
        and the Connecticut Commission on Human Rights and Opportunities.
    </p>

    <h3 class="fw-light pt-3 mb-3 text-dark">Local Counsel</h3>
    <p class="cormorant p-text">
        Ryan & Ryan is often asked by lawyers from outside Connecticut to serve as their Connecticut local counsel for
        matters pending in the state or federal courts or at certain administrative agencies. These firms look to us as
        a Connecticut employment law litigation firm because of our litigation experience before courts and agencies,
        the Firm’s knowledge of local rules and process, and our respect with employment law lawyers and judges.
    </p>

    <p class="cormorant p-text">
        When asked by law firms to act as local counsel the Firm provides only the amount of work asked of it by lead
        counsel. Sometimes because of Ryan & Ryan’s labor and employment law knowledge we are asked to actively assist
        lead counsel with motions and trial preparation. As with clients we believe that communication with lead counsel
        is critical as litigation advances. The Firm enjoys the collaborative nature of the local counsel relationship
        and treats the lead counsel’s client as its own.
    </p>
</div>

{% endblock %}