{% extends '_base.html' %}

{% block content %}
<div class="container">
    <h3 class="fw-light pt-5 mb-5 text-dark">Work</h3>
    <h1 class="work-title mb-5">Workplace Issues</h1>

    <p class="cormorant p-text">
        In an effort to assist our clients in avoiding disputes in the workplace, Ryan & Ryan, LLC offers counseling on
        the day-to-day issues that inevitably arise. We are always available to offer guidance to employers on issues
        relating to:
    </p>

    <ul>
        <li>Workplace investigations</li>

        <li>Employee discipline and termination</li>

        <li>Employment discrimination</li>

        <li>Sexual harassment</li>

        <li>Wage and hour matters</li>

        <li>Safety and health</li>

        <li>Trade secrets and unfair competition</li>

        <li>Substance abuse</li>

        <li>Employee privacy</li>

        <li>Employee embezzlement</li>

        <li>Mergers, acquisitions, and downsizing</li>

        <li>I-9 Compliance/E-Verify</li>

        <li>Unemployment compensation</li>

        <li>Workers’ compensation</li>
    </ul>

    <p class="cormorant p-text">
        In addition, we offer our clients the value of our extensive experience in drafting and reviewing
        employment-related documents, such as:
    </p>


    <ul>
        <li>Employment contracts</li>

        <li>Employee handbooks</li>

        <li>Non-competition and confidentiality agreements</li>

        <li>Severance agreements</li>

        <li>Management guidelines</li>

        <li>Social media policies</li>

        <li>Drug and alcohol policies</li>

        <li>Affirmative action plans</li>

        <li>E-mail and internet policies</li>

        <li>Other policies and procedures which are useful to an employer and/or legally required</li>
    </ul>


</div>
{% endblock %}